<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
jQuery(document).ready(function(){
var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        console.log("Success");
        var selection = window.getSelection();
        selection.removeAllRanges();
    });
    clipboard.on('error', function(e) {
        console.log("Fail");
    });
});
</script>