<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
	      {{ site.author | escape }}
	    {%- elsif site.web_master -%}
	      Web master: {{ site.web_master | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
	    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
	    {%- elsif site.wm_email -%}
	    <li><a class="u-email" href="mailto:{{ site.wm_email }}">{{ site.wm_email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
	{%- if site.chair -%}
	<p>For more information, please contact {{ site.chair | escape }} (<a class="u-email" href="mailto:{{ site.email }}">{{ site.chair_email }}</a>)</p>
	{%- else -%}
        <p>{{- site.description | escape -}}</p>
	{%- endif -%}
      </div>
    </div>

  </div>

</footer>
